// Place all the styles related to the api::animes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.thumbnail {
 
  cursor: pointer;
  margin: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 21%;
  border-style: rgb(87, 86, 86) solid;
  align-items: center;
  border-width: 0.5px;
  background-color: #eee;
  opacity: 1;
}

.thumbnail:hover {
  background-color: white;
  box-shadow: 0 1px 1px black;
  transform: scale(1.03);
}

.thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20%;
  margin-left: 20%;
  background-color: rgba(224, 223, 223, 0.5);
  margin-top: 50px;
  flex-wrap: wrap;
}

.image {
  width: 198px;
  height: 300px;
  margin: 15px;
}

.image-text {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}

// #example2 {
//   background-position: center top;
//   background: url(background1.jpg);
//   // background-repeat: no-repeat;
//   // background-size: 100% 100%;
//   background-size: auto 100%;
// }

body {
  background-image: url('background1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}

.header-image {
  height: 250px;
  width: 1000px;
  margin-top: 30px;
  cursor: pointer;
  border-style: rgb(87, 86, 86) solid;
}

.header-image:hover {
  box-shadow: 0 1px 1px black;
  transform: scale(1.03);
}

.anime-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}