// Place all the styles related to the api::animes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.thumbnail {
  color: black;
  cursor: pointer;
  // margin: 18px;
  text-decoration: none;
  // display: flex;
  justify-content: center;
  flex-direction: column;
  // flex: 1 0 21%;
  border-style: rgb(87, 86, 86) solid;
  align-items: center;
  border-width: 0.5px;
  background-color: #eee;
  // opacity: 1;
  // text-align: center;
  padding-bottom: 15px;
}

.thumbnail:hover {
  background-color: white;
  box-shadow: 0 1px 1px black;
  transform: scale(1.03);
  color: #0a6da4;
}

.thumbnail li {
  margin-left: 8%;
}

.thumbnails {
  // display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 33px;
  // justify-content: center;
  // align-items: center;
  margin-right: 20%;
  margin-left: 20%;
  background-color: rgba(224, 223, 223, 0.5);
  margin-top: 20px;
  // flex-wrap: wrap;
  text-decoration: none;
  // padding-left: 20%;
  // padding-right: 20%;
  padding: 20px;

}

.center-thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  // flex-direction: column;
}

.anime-episode-list a {
  height: 205px;
}

// div a {
  // width: ;
// }

.image {
  width: 198px;
  height: 300px;
  margin: 15px;
}

.image-text {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 700;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  width: 198px;
  font-size: 20px;
}

.anime-video-amount {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: grey;
}

.anime-video-amount:hover {
  color: grey;
}

// body { background-image: url(<%= asset_path 'background1.jpg' %>) }

body {
  // background-image: url('background1.jpg');
  background-image: url('https://dragon-roll-aa-pro.s3-us-west-1.amazonaws.com/background1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}

.header-image {
  display: relative;
  height: 250px;
  width: 1000px;
  // margin-top: 40px;
  cursor: pointer;
  border-style: rgb(87, 86, 86) solid;
}

.header-image:hover {
  box-shadow: 0 3px 3px black;
  transform: scale(1.01);
}

.anime-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 40px;
}

.header-text {
  position: absolute;
  top: 50px;
  right: 700px;
  color: rgb(0, 0, 0);
  font-size: 45px;
  font-weight: 700;
  text-shadow: 1px 1px #000000;
  font-family: "Helvetica Neue",Arial,sans-serif;
}

.anime-heading {
  color: rgb(0, 0, 0);
  font-size: 45px;
  font-weight: 700;
  text-shadow: 1px 1px #000000;
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin-right: 45%;
  margin-top: 30px;
}

.line {
  border: 1px solid black;
  // margin-left: 18%;
  // margin-right: 18%;
  width: 1150px;
}

.anime-index-title {
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.episode-list-container {
  position: absolute;
  left: 10px;
  top: 20px;
}

.episode-list-name {
  font-size: 30px;
  font-weight: bold;
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin-left: 40px;
}

.center-episode-list {
  display: flex;
  justify-content: center;
  align-items: center;
  // position: relative;
}

.episode-line {
  border: 0.4px solid grey;
  width: 880px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.anime-show-container {
  display: flex;
  justify-content: center;
  // align-items: center;
  margin-right: 12%;
  margin-left: 12%;
  margin-top: 30px;
  background-color: rgba(242,242,242, 0.9);
  margin-bottom: 120px;
  padding-bottom: 100px;
  position: relative;
}


.anime-episode-list {
  display: grid;
  // flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  text-decoration: none;
  margin-top: 105px;
  margin-right: 20px;
  margin-left: 10px;
}

.episode-item {
  color: black;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 4px;
  text-decoration: none;
  background-color: white;
  height: 200px;
  width: 200px;
  align-items: center;
  box-shadow: 0 0.0625rem 0 0 #eae8e8; 
  border: .1rem solid #c1c0c0;
  box-sizing: border-box;
  opacity: 1;
  text-align: center;
}

.episode-video {
  margin-top: 10px;
}

.episode-item-text {
  font-weight: bold;
  font-family: "Helvetica Neue",Arial,sans-serif;
  line-height: 1.2;
}

.anime-show-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 25px;
}

.anime-show-image {
  width: 330px;
  height: 500px;
  margin-top: 28px;
  margin-bottom: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.anime-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Helvetica Neue",Arial,sans-serif;
  line-height: 1.2;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.anime-show-line {
  border: 0.4px solid grey;
  width: 330px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.anime-show-text {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  width: 330px;
  line-height: 1.2;
  text-indent: 40px;
}

.video-margin {
  margin-bottom: 10px;
}

.episode-show-item-container {
  display: flex;
  // justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 30px;
  background-color: rgba(242,242,242, 0.9);
  margin-bottom: 120px;
  padding-bottom: 100px;}

  .episode-show-item-title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue",Arial,sans-serif;
    line-height: 1.2;
    text-align: center;
  }

  .queue-button:hover {
    svg{
      fill: #f78c25;
    }
    p{
      color: #f78c25;
    }
  }
  
  #anime-button-title {
    margin-top: 5px;
  }

  hgroup a {
    display: flex;
    // justify-content: center;
    // align-items: center;
  }

  // hgroup p:hover {
  //   color: #f78c25;
  // }

  hgroup a:hover {
    // transform: scale(1.09);
    // color: #f78c25;
    p{
      // z-index: 1;
      // width: 50px;
      // transform: scale(1.09);
      // background-color: #f78c25;
    }
    img{
      // transform: scale(1.09);
      // background-color: #f78c25;
    }
  }

  .hover-after {
    position: relative;
  }

  // .hover-after::after {
  //   position: relative;
  // }

  a[data]::after {
    content: attr(data);
    opacity:0;
    transition: all -3s;
    transition-delay: -3s;
    // transition-duration: 1s;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 12px;
    line-height: 14px;
    content: attr(data);
    padding: 4px 8px;
    color: rgb(252, 252, 252);
    position: absolute;
    left: 110%;
    top: 15%;
    width: 200px;
    padding: 10px;
    z-index: -5;
    border-radius: 5px ;
    background-color: rgb(39, 39, 39);
  }

  .hover-after a[data]:hover::after {

    opacity: 1;
    // font-family: "Helvetica Neue",Arial,sans-serif;
    // font-size: 12px;
    // line-height: 14px;
    // content: attr(data);
    // padding: 4px 8px;
    // color: rgb(252, 252, 252);
    position: absolute;
    left: 110%;
    top: 15%;
    // width: 200px;
    // padding: 10px;
    z-index: 2;
    // pointer-events: none;
    // border-radius: 5px ;
    // background-color: rgb(39, 39, 39);

  }

  // a[data] {
  //   transition-property: padding color left top width border-radius background-color;
  //   transition-timing-function: ease-in-out;
  //   transition-duration: 3s;
  //   transition-delay: 1s;
  // }
