
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


body {
  background-color: #eee;
}

header {
  background-color: rgba(255, 255, 255, 0.986);
  display: flex;
  justify-content: center;
  box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);

}

.header {
  font-size: 80px;
  font-family: 'Bebas Neue', cursive;
  color: #f47521;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.986);
  text-shadow: black 1px 1px;
  height: 100%;
  width: 350px;
}

.header:hover {
  color: #e27723;
}

#nav {
  position: absolute; 
  top: 4.5px; 
  right: 5px; 
  width: 100px; 
  line-height: 2.7;
}

#anime {
  position: absolute; 
  top: 4.5px; 
  right: 125px; 
  width: 100px; 
  line-height: 2.7;
}

.button {
  background-color: #f78c25;
  border-color: #f7f5f4;
  color: rgb(100%,100%,100%);
  box-sizing: border-box;
  margin: 8px;
  padding: 0.35em 0.8em;
  font-weight: 500;
  text-align: center;
  line-height: 1.25;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.25;
  text-decoration: none;
  border-radius: .5625em;
  cursor: pointer;
  transition: 120ms background-color ease-out;
  }

  .button:focus{
    outline: none;
    box-shadow: none;
  }

  .button:hover {
    background-color: #e27723;
  }

  .navi-button {
    box-sizing: border-box;
    margin: 8px;
    padding: 0.35em 0.8em;
    font-weight: 500;
    text-align: center;
    line-height: 1.25;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.25;
    text-decoration: none;
    border-radius: .5625em;
    cursor: pointer;
    transition: 120ms background-color ease-out;
  }

    .navi-button:focus{
    outline: none;
    box-shadow: none;
  }

    .navi-button:hover {
    background-color: #e27723;
    color: white;
  }

  .selected {
      color: orange;
  }

  .error-page {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 20px;
  }



